{% extends "/files/contest/contest_base.html" %}

{% block content %}
  <h2>{{ contest_title }}</h2>
  <table class="table1">
    <tr class="tr1">
      <td class="td1">{{ status }}</td>
      <td class="td1">{{ runs_string }}</td>
    </tr>
    <tr class="tr1">
      <td class="td1">Начало</td>
      <td class="td1">{{ start_time.strftime("%d.%m.%y %H:%M:%S") }}</td>
    </tr>
    <tr class="tr1">
      <td class="td1">Конец</td>
      <td class="td1">{{ end_time.strftime("%d.%m.%y %H:%M:%S") }}</td>
    </tr>
  </table>
  <hr style="margin-top: 20px;">
  {% if all_news %}
  <h2 style>Новости</h2>
  <table style="margin-top: -10px;">
    {% for news in all_news %}
    <tr>
      <td>
        <h3 style="margin-top: -0px;">{{ news.title }}</h3>
        <p style="margin-top: -15px;">Автор <b>{{ news.author }}</b>, {{ news.date.strftime("%d.%m.%y %H:%M:%S") }}</p>
        <div style="width: 400px; border-left: 3px solid #898989;">
          <p style="margin-left: 10px">{{ news.content|safe }}</p>
        </div>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
  <p>Вернуться <a href="/">на главную</a> страницу</p>
{% endblock %}