{% extends "/files/contest/contest_base.html" %}

{% block content %}
<h2 style="text-align: center;">Статус</h2>
<table style="width: 100%;" class="table1">
    <tr>
        <th class="th1">ID</th>
        <th class="th1">Отправитель</th>
        <th class="th1">Задача</th>
        <th class="th1">Вердикт</th>
        <th class="th1">Тест</th>
        <th class="th1">Баллы</th>
        <th class="th1">Время</th>
        <th class="th1">Дата</th>
    </tr>
    {% for submission in submissions[::-1] %}
    <tr>
        {% set bcolor = bcolors.get(submission.verdict.split()[0], "#f57d8f") %}
        {% set color = colors.get(submission.verdict.split()[0], "#6b0111") %}
        <td style="background-color: {{ bcolor }}" class="td1">{{ submission.s_id }}</td>
        <td style="background-color: {{ bcolor }}" class="td1">{{ submission.user.login }}</td>
        <td style="background-color: {{ bcolor }}" class="td1">{{ submission.tid }}. {{ submission.task.title }}</td>
        <td style="color: {{ color }}; background-color: {{ bcolor }}" class="td1">{{ verdicts[submission.verdict.split()[0]] }}</td>
        <td style="background-color: {{ bcolor }}" class="td1">{{ submission.verdict.split()[1] }}</td>
        <td style="background-color: {{ bcolor }}" class="td1">{{ submission.points }}</td>
        <td style="background-color: {{ bcolor }}" class="td1">{{ submission.execution_time }} мс</td>
        <td style="background-color: {{ bcolor }}" class="td1">{{ submission.time.strftime("%d.%m.%y %H:%M:%S") }}</td>
    </tr>
    {% endfor %}
</table>
<table>
    <tr>
        <td style="padding: 8px;">Страница: </td>
        <td style="padding: 8px;"><a href="/contest/{{ contest }}/submissions?page={{ prev_page }}">{{ prev_page }}</a></td>
        <td style="padding: 8px;">{{ page }}</td>
        <td style="padding: 8px;"><a href="/contest/{{ contest }}/submissions?page={{ next_page }}">{{ next_page }}</a></td>
    </tr>
</table>
<p>Пояснение вердиктов чекера: <a href="/verdicts_info">здесь</a><br>
Сейчас используется потоков для проверки: {{ threads_count }}/{{ max_threads_count }}<br>
Сейчас решений в очереди: {{ queued_count }}</p>
{% endblock %}