{% extends "/files/contest/contest_base.html" %}

{% block content %}
<h2 style="text-align: center">Задачи</h2>
<table style="margin: 0px auto; width: 100%;" class="table1">
    <tr style="text-align: center;">
        <th class="th1">ID</th>
        <th class="th1">Название</th>
        <th class="th1">Решений</th>
    </tr>
    {% for task in tasks %}
    <tr class="tr1">
        <th class="th1">{{ task.tid }}</th>
        <td class="td1"><a href="/task/{{ task.tid }}">{{ task.title }}</a></td>
        <td class="td1">{{ accs[task.tid] }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}