{% extends "/files/client/client_base.html" %}

{% block content %}
<h1>Вход</h1>
<form action="" method="post" novalidate>
    <div>
        {{ form.csrf_token }}
    </div>
    <table style="">
    {% for field in form if field.name != "csrf_token" %}
        <tr>
            {% if field.label() != "Войти" %}
                <td>
                {{ field.label() }}
                </td>
            {% endif %}
            <td>
            {{ field() }}
            </td>
            {% for error in field.errors %}
                <div class="error" style="color: #c22134">{{ error }}</div>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
</form>
{% for error in errors %}
<div class="error" style="color: #ff4444; margin-top: -5px;">{{ error }}</div>
{% endfor %}
<p>Ещё не зарегистрированы? <a href="/register">Зарегистрируйтесь</a></p>
{% endblock %}