{% extends "/files/client/client_base.html" %}

{% block content %}
<h1>Регистрация</h1>
<form action="" method="post" novalidate>
    <table>
    <div>
        {{ form.csrf_token }}
    </div>
    {% for field in form if field.name != "csrf_token" %}
        <tr>
            <td>{{ field.label() }}</td>
            <td>{{ field() }}</td>

            {% for error in field.errors %}
                <tr class="error" style="color: #c22134"><td></td><td>{{ error }}</td></tr>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
</form>
{% for error in errors %}
<div style="color: #ff4444; margin-top: -5px;">{{ error }}</div>
{% endfor %}
<p>Уже зарегистрированы? <a href="/login">Войдите</a></p>
{% endblock %}