{% extends "/cms/cms_base.html" %}

{% block content %}
<h1>EContest CMS</h1>
<p><strong>EContest CMS</strong> <i>(Content Management System)</i> - это система для управления контентом на EContest.<br>
Здесь можно создавать задачи и контесты, а также управлять ими.</p>
<table class="table1">
    <tr>
        <th class="th1">Страница</th>
        <th class="th1">Что находится</th>
    </tr>
    <tr class="tr1">
        <td class="td1">/cms/tasks/</td>
        <td class="td1">Задания</td>
    </tr>
    <tr class="tr1">
        <td class="td1">/cms/contests/</td>
        <td class="td1">Контесты</td>
    </tr>
</table>
<p>Вернуться <a href="/">на главную</a> страницу</p>
{% endblock %}