{% extends "/cms/contest_base.html" %}

{% block content %}
<h2>Редактирование контеста</h2>
<form method="post" novalidate>
    <div>
        {{ form.csrf_token }}
    </div>
    <table>
        {% for field in form if field.name != "csrf_token" %}
            <tr>
                <td>{{ field.label() }}</td>
                <td>{{ field() }}</td>
            </tr>
            {% for error in field.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        {% endfor %}
    </table>
</form>
<form method="post" novalidate>
    <div>
        {{ form1.csrf_token }}
    </div>
    <h2>Удаление контеста</h2>
    <p>Введите название контеста для подтверждения:<br></p>
    {{ form1.title() }}
    {{ form1.submit2() }}
</form>
<p>Вернуться <a href="/cms/">на главную</a> страницу</p>
{% endblock %}