{% extends "/cms/news_base.html" %}

{% block content %}
<h2>Редактирование новости</h2>
<form method="post" novalidate>
    <div>
        {{ form1.csrf_token }}
    </div>
    <table>
        {% for field in form1 if field.name != "csrf_token" %}
            <tr>
                <td>{{ field.label() }}</td>
                <td>{{ field() }}</td>
            {% for error in field.errors %}
                <td class="error">{{ error }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
</form>
<h2>Удаление новости</h2>
<form method="post" novalidate>
    <div>
        {{ form2.csrf_token }}
    </div>
    {{ form2.submit2() }}
</form>
{% endblock %}