{% extends "/cms/task_base.html" %}

{% block content %}
<h2>Тесты к задаче</h2>
<table class="table1">
    <tr>
        <th class="th1">№</th>
        <th class="th1">Входные данные</th>
        <th class="th1">Выходные данные</th>
    </tr>
{% for i in range(length) %}
    <tr class="tr1">
        <td class="td1"><a href="/cms/task/{{ task_id }}/tests/{{ i + 1 }}/">{{ i + 1 }}</a></td>
        <td class="td1">{{ tests[i][0][:10] }}</td>
        <td class="td1">{{ tests[i][1][:10] }}</td>
    </tr>
{% endfor %}</table>
{% endblock %}