{% extends "/cms/cms_base.html" %}

{% block content %}
<h1 style="text-align: center;">Задачи</h1>
<table style="margin: 0px auto; width: 100%" class="table1">
    <tr>
        <th class="th1">ID</th>
        <th class="th1">Задача</th>
        <th class="th1">ID контеста</th>
    </tr>
{% for task in tasks %}
    <tr class="tr1">
        <td class="td1">{{ task.tid }}</td>
        <td class="td1"><a href="/cms/task/{{ task.tid }}/index/">{{ task.title }}</a></td>
        <td class="td1">{{ task.contest_id }}</td>
    </tr>
{% endfor %}
</table>
<br>
<form method="post" novalidate>
    <div>
        {{ form.csrf_token }}
    </div>
    {{ form.submit() }}
</form>
<p>Нажмите на ID задачи, чтобы отредактировать её</p>
{% endblock %}