{% extends "/cms/task/task_base.html" %}

{% block content %}
<h2>Редактирование подгруппы тестов</h2>
    <form method="post" novalidate>
        <div>
            {{ form.csrf_token }}
        </div>
        <table>
            <tr>
                <td>Баллы</td>
                <td>{{ form.points() }}</td>
            </tr>
            <tr>
                <td>Тесты</td>
                <td>{{ form.tests() }}</td>
            </tr>
        </table>
        {{ form.submit1() }}
    <p>Примечание: для добавления тестов к группе нужно написать их номера (считая от 1, как во вкладке с тестами), каждый с новой строки</p>
</form>
<h2>Удалить подгруппу</h2>
<form method="post" novalidate>
    <div>
        {{ form1.csrf_token }}
    </div>
    {{ form1.submit2() }}
</form>
{% endblock %}