.title {
    text-align: center;
    color: #5c6ac4;
}

.menu {
    display: inline-block;
    justify-content: center;
    border-radius: 10px;
}

.table1, .th1, .td1 {
    border: 1px solid black;
    border-collapse: collapse;
}

.tr1:hover {
    background-color: #dcdcdc;
}

.navbar_li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    float: left;
}

.navbar_a {
    padding: 8px;
    text-align: center;
    text-decoration: none;
    color: #385f3b;
    border-radius: 10px;
}

.navbar {
    text-align: center;
}

.navbar_a:hover {
    background-color: #72c478;
    color: #1d321e;
}

.username_a {
    padding: 8px;
    text-align: center;
    text-decoration: none;
    color: #006600;
    border-radius: 10px;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f8f8;  /* Слегка затемненный фон */
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}