{% extends "mains_base.html" %}

{% block content %}
<h1>API</h1>
<p>EContest поддерживает API для использования его в любых целях.</p>
<p>Все результаты запросов к API отправляются в формате JSON. JSON выглядит так: {"status": "...", "error/response"},
где <b>status</b> будет указывать на статус ("ok" - запрос выполнен успешно, "error" - запрос выполнен с ошибкой).
Если status будет error, то в ключе error будет сообщение об ошибке. Иначе (при статусе "ok") в ключе "response" будет словарь с необходимыми значениями.</p>
<p>Все запросы к API должны начинаться на /api/.../</p>
<table class="table1">
    <tr>
        <th class="th1">Адрес</th>
        <th class="th1">На выходе</th>
        <th class="th1">Формат JSON</th>
    </tr>
    <tr class="tr1">
        <td class="td1">/api/user/</td>
        <td class="td1">Все пользователи</td>
        <td class="td1">{user_id: {"user_id", "login"}}</td>
    </tr>
    <tr class="tr1">
        <td class="td1">/api/user/user_id(int)/</td>
        <td class="td1">Данные пользователя по id</td>
        <td class="td1">"user_id", "login"</td>
    </tr>
    <tr class="tr1">
        <td class="td1">/api/task/</td>
        <td class="td1">Все задачи</td>
        <td class="td1">{task_id: {"tid", "title", "statement", "input_spec", "output_spec", "time_limit", "memory_limit", "mode", "contest_id"}}</td>
    </tr>
    <tr class="tr1">
        <td class="td1">/api/task/task_id(int)/</td>
        <td class="td1">Данные задачи по id</td>
        <td class="td1">"tid", "title", "statement", "input_spec", "output_spec", "time_limit", "memory_limit", "mode", "contest_id"</td>
    </tr>
    <tr class="tr1">
        <td class="td1">/api/contest/</td>
        <td class="td1">Все контесты</td>
        <td class="td1">{contest_id: "cid", "title", "start_time", "end_time"}</td>
    </tr>
    <tr class="tr1">
        <td class="td1">/api/contest/contest_id(int)/</td>
        <td class="td1">Данные определённого контеста</td>
        <td class="td1">"cid", "title", "start_time", "end_time"</td>
    </tr>
</table>
{% endblock %}