<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <title>{{ title }} | {{ contest_title }}</title>
</head>
<h1 class="title">{{ contest_title }}</h1>
<hr>
<nav class="navbar">
  {% if not current_user.is_authenticated %}
    <a href="/login" class="navbar_a"><b>Вход</b></a>
  {% else %}
    <a href="/logout" class="username_a"><b>{{ current_user.login }}</b></a>
  {% endif %}
  <a href="/contests" class="navbar_a"><b>Контесты</b></a>
</nav>
<hr>
<main role="main" class="container">
    <h2 style="text-align: center;">Все контесты</h2>
    <table style="margin: 0px auto; width: 100%;">
        <tr>
            <th>ID</th>
            <th>Название</th>
        </tr>
        {% for contest in contests %}
        <tr>
            <td>{{ contest.cid }}</td>
            <td><a href="/contest/{{ contest.cid }}/index">{{ contest.title }}</a></td>
        </tr>
        {% endfor %}
    </table>
  <hr>
  <p>econtest v2.0 (27.03.2025 16:43:30)</p>
  <p>Время на сервере: {{ now_time.strftime("%d.%m.%Y %H:%M:%S") }} (UTC)</p>
</main>