{% extends "base.html" %}

{% block content %}
  <h2>{{ contest_title }}</h2>
  <table class="table1">
    <tr class="tr1">
      <td class="td1">{{ status }}</td>
      <td class="td1">{{ runs_string }}</td>
    </tr>
    <tr class="tr1">
      <td class="td1">Начало</td>
      <td class="td1">{{ start_time.strftime("%d.%m.%y %H:%M:%S") }}</td>
    </tr>
    <tr class="tr1">
      <td class="td1">Конец</td>
      <td class="td1">{{ end_time.strftime("%d.%m.%y %H:%M:%S") }}</td>
    </tr>
  </table>
  <p>Вернуться <a href="/">на главную</a> страницу</p>
{% endblock %}