{% extends "mains_base.html" %}

{% block content %}
<h1>Вход</h1>
<form action="" method="post" novalidate>
    <div>
        {{ form.csrf_token }}
    </div>
    {% for field in form if field.name != "csrf_token" %}
        <div>
            {% if field.label() != "Войти" %}
                {{ field.label() }}
            {% endif %}
            {{ field() }}
            {% for error in field.errors %}
                <div class="error" style="color: #c22134">{{ error }}</div>
            {% endfor %}
        </div>
    {% endfor %}
</form>
<p>Ещё не зарегистрированы? <a href="/register">Зарегистрируйтесь</a></p>
{% endblock %}