<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <title>{{ title }} | {{ contest_title }}</title>
</head>

<body>
    <h1 class="title">{{ contest_title }}</h1>
    <hr>
    <nav class="navbar">
      {% if not current_user.is_authenticated %}
        <a href="/login" class="navbar_a"><b>Вход</b></a>
      {% else %}
        <a href="/logout" class="username_a"><b>{{ current_user.login }}</b></a>
      {% endif %}
      <a href="/register" class="navbar_a"><b>Регистрация</b></a>
      <a href="/contests" class="navbar_a"><b>Контесты</b></a>
      <a href="/api/" class="navbar_a"><b>API</b></a>
        {% if current_user.is_admin %}
            <a href="/cms/" class="navbar_a"><b>CMS</b></a>
        {% endif %}
    </nav>
    <hr>
    <main role="main" class="container">
      {% block content %}{% endblock %}
      <hr>
      <p>Время на сервере: {{ now_time.strftime("%d.%m.%Y %H:%M:%S") }} (UTC)</p>
      <p>econtest v3.3 (09.05.2025 12:41:34 UTC+4)</p>
    </main>
</body>