{% extends "base.html" %}

{% block content %}
<h2 style="text-align: center;">Текущее положение</h2>
<p style="text-align: center">статус: {{ status }}, {{ runs_string }} из {{ all_delta }} ({{ percent }}%)</p>
<table style="margin: 0px auto; width: 100%;" class="table1">
    <tr>
        <th class="th1">Пользователь</th>
        <th class="th1">Баллы</th>
    </tr>
    {% for user, points in items %}
        <tr class="tr1">
            <td class="td1">{{ user }}</td>
            <td class="td1">{{ points }}</td>
        </tr>
    {% endfor %}
</table>
<a href="/contest/{{ contest }}/full_standings">Перейти к подробному положению</a>
{% endblock %}