{% extends "base.html" %}

{% block content %}
<h1>Посылка #{{ submission.s_id }}</h1>
<table>
    <tr><td><i>Язык: </i></td><td>{{ submission.language }}</td></tr>
    <tr><td><i>Отправлена: </i></td><td>{{ submission.time.strftime("%d.%m.%y %H:%M:%S") }}</td>
    <tr><td><i>Автор: </i></td><td>{{ submission.user.login }}</td>
    <tr><td><i>Задача: </i></td><td>{{ submission.task.tid }}. {{ submission.task.title }}</td>
    <tr><td><i>Вердикт: </i></td><td>{{ submission.verdict }}</td>
    <tr><td><i>Баллы: </i></td><td>{{ submission.points }}</td></tr>
    <tr><td><i>Максимальное <br>время исполнения: </i></td><td>{{ submission.execution_time }} ms</td></tr>
</table>
<p><i>Код посылки: </i><textarea readonly>{{ "\n".join(submission.code.split("\n")) }}</textarea></p>
<p>Детальная информация о тестах</p>
<code>
    {% if verdicts[0][0] == "re" or verdicts[0][0] == "ce" %}
        The program returned a non-zero exit code:<br>
        {{ verdicts[0][2] }}
    {% endif %}
    <br>
    {% for i in range(len_groups) %}
Tests Group {{ i + 1 }} points {{ group_points_all[i] }}:<br>
    {% for test in all_groups[i]["required_tests"] %}
&nbsp;&nbsp;&nbsp;&nbsp;Test {{ test }}: {{ verdicts[test - 1][0] }} with time {{ verdicts[test - 1][1] }} ms points {{ points[test - 1] }}<br>
    {% endfor %}
    {% endfor %}
</code>
{% endblock %}