{% extends "base.html" %}

{% block content %}
<h2 style="text-align: center;">Мои посылки</h2>
<table class="table1">
    <tr>
        <th class="th1">ID</th>
        <th class="th1">Задача</th>
        <th class="th1">Вердикт</th>
        <th class="th1">Тест</th>
        <th class="th1">Баллы</th>
        <th class="th1">Время</th>
        <th class="th1">Дата</th>
        <th class="th1">Протокол</th>
    </tr>
    {% for submission in submissions[::-1] %}
    <tr class="tr1">
        {% set bcolor = bcolors.get(submission.verdict.split()[0], "#f57d8f") %}
        {% set color = colors.get(submission.verdict.split()[0], "#6b0111") %}
        <td style="background-color: {{ bcolor }}" class="td1">{{ submission.s_id }}</td>
        <td style="background-color: {{ bcolor }}" class="td1">{{ submission.tid }}. {{ submission.task.title }}</td>
        <td style="color: {{ color }}; background-color: {{ bcolor }}" class="td1">{{ verdicts.get(submission.verdict.split()[0], submission.verdict.split()[0]) }}</td>
        <td style="background-color: {{ bcolor }}" class="td1">{{ submission.verdict.split()[1] }}</td>
        <td style="background-color: {{ bcolor }}" class="td1">{{ submission.points }}</td>
        <td style="background-color: {{ bcolor }}" class="td1">{{ submission.execution_time }} мс</td>
        <td style="background-color: {{ bcolor }}" class="td1">{{ submission.time.strftime("%d.%m.%y %H:%M:%S") }}</td>
        {% if submission.verdict[:2] != "te" %}
            <td style="background-color: {{ bcolor }}" class="td1"><a href="/submission_view/{{ submission.s_id }}">Просмотр</a></td>
        {% else %}
            <td style="background-color: {{ bcolor }}" class="td1">Просмотр</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
<p>Пояснение вердиктов чекера: <a href="/verdicts_info">здесь</a></p>
<p>Сейчас используется потоков для проверки: {{ threads_count }}/{{ max_threads_count }}</p>
<p>Сейчас решений в очереди: {{ queued_count }}</p>
{% endblock %}