{% extends "base.html" %}

{% block content %}
<h1>Пояснение вердиктов чекера</h1>
<table>
    <tr>
        <th>Вердикт</th>
        <th>Полными словами</th>
        <th>Пояснение</th>
    </tr>
    <tr>
        <td>ok</td>
        <td>Полное решение</td>
        <td>Решение прошло все тесты</td>
    </tr>
    <tr>
        <td>wa</td>
        <td>Неправильный ответ</td>
        <td>Ответ теста не совпал с выводом программы</td>
    </tr>
    <tr>
        <td>tl</td>
        <td>Превышено ограничение по времени</td>
        <td>Программа выполнялась дольше определённого лимита времени в задаче</td>
    </tr>
    <tr>
        <td>re</td>
        <td>Ошибка исполнения</td>
        <td>Программа завершила работу с ненулевым кодом возврата</td>
    </tr>
    <tr>
        <td>qu</td>
        <td>В очереди</td>
        <td>Решение находится в очереди на проверку</td>
    </tr>
    <tr>
        <td>te</td>
        <td>Выполняется</td>
        <td>Решение выполняется на определённом тесте</td>
    </tr>
    <tr>
        <td>ig</td>
        <td>Проигнорировано</td>
        <td>Проверка на тесте была проигнорирована (так как в задачах с полной проверкой был установлен вердикт)</td>
    </tr>
</table>
{% endblock %}