{% extends "mains_base.html" %}

{% block content %}
<h1>Пояснение вердиктов чекера</h1>
<table class="table1">
    <tr>
        <th class="th1">Вердикт</th>
        <th class="th1">Полными словами</th>
        <th class="th1">Пояснение</th>
    </tr>
    <tr class="tr1">
        <td class="td1">ok</td>
        <td class="td1">Полное решение</td>
        <td class="td1">Решение прошло все тесты</td>
    </tr>
    <tr class="tr1">
        <td class="td1">wa</td>
        <td class="td1">Неправильный ответ</td>
        <td> class="td1"Ответ теста не совпал с выводом программы</td>
    </tr>
    <tr class="tr1">
        <td class="td1">tl</td>
        <td class="td1">Превышено ограничение по времени</td>
        <td class="td1">Программа выполнялась дольше определённого лимита времени в задаче</td>
    </tr>
    <tr class="tr1">
        <td class="td1">re</td>
        <td class="td1">Ошибка исполнения</td>
        <td class="td1">Программа завершила работу с ненулевым кодом возврата</td>
    </tr>
    <tr class="tr1">
        <td class="td1">qu</td>
        <td class="td1">В очереди</td>
        <td class="td1">Решение находится в очереди на проверку</td>
    </tr>
    <tr class="tr1">
        <td class="td1">te</td>
        <td class="td1">Выполняется</td>
        <td class="td1">Решение выполняется на определённом тесте</td>
    </tr>
    <tr class="tr1">
        <td class="td1">ig</td>
        <td class="td1">Проигнорировано</td>
        <td class="td1">Проверка на тесте была проигнорирована (так как в задачах с полной проверкой был установлен вердикт)</td>
    </tr>
    <tr class="tr1">
        <td class="td1">co</td>
        <td class="td1">Компилруется</td>
        <td class="td1">Программа компилируется (относится к языкам: GNU G++23 14.2.0 (64 bit, msys2))</td>
    </tr>
    <tr class="tr1">
        <td class="td1">ce</td>
        <td class="td1">Ошибка компиляции</td>
        <td class="td1">Программа вернула ненулевой код возврата после компиляции (относится к языкам: GNU G++23 14.2.0 (64 bit, msys2))</td>
    </tr>
</table>
{% endblock %}