{% extends "/cms/cms_base.html" %}

{% block content %}
<h2 style="text-align: center;">Новости</h2>
<table style="width: 100%;" class="table1">
    <tr>
        <th class="th1">ID</th>
        <th class="th1">Заголовок</th>
        <th class="th1">ID контеста</th>
    </tr>
    {% for news in all_news %}
        <tr class="tr1">
            <td class="td1">{{ news.nid }}</td>
            <td class="td1"><a href="/cms/news/{{ news.nid }}/index/">{{ news.title }}</a></td>
            <td class="td1">{{ news.cid }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}